<div class="row-layout group">
  <div class="column-layout group_1">
    <div class="column-layout group_2">
      <div class="column-layout group_3">
        <h4 class="h4">
          Hi, Sarah!
        </h4>
        <p class="igx-typography__subtitle-1 text">
          We have some great suggestions for your next travel! We've searched the whole web to provide you with these rare findings - special for you!
        </p>
      </div>
    </div>
    <div class="column-layout group_4">
      <div class="row-layout group_5">
        <h6 class="h6">
          Latest in articles
        </h6>
        <button igxButton="outlined" igxRipple routerLink="/in-app/articles" class="button">
          view all ARTICLES
        </button>
      </div>
      <div class="row-layout group_6">
        <igx-card type="outlined" *ngFor="let item of travelAppSelectedArticles" class="card">
          <igx-card-media height="120px">
            <img [src]="item.image_url" />
          </igx-card-media>
          <igx-card-header>
            <h3 igxCardHeaderTitle>
              {{ item.title }}
            </h3>
            <h5 igxCardHeaderSubtitle>
              {{ item.subtitle }}
            </h5>
          </igx-card-header>
          <igx-card-actions [reverse]="true" class="actions-content">
            <button igxButton="icon" igxRipple>
              <igx-icon>
                bookmark_border
              </igx-icon>
            </button>
            <button igxButton="icon" igxRipple>
              <igx-icon>
                share
              </igx-icon>
            </button>
            <button igxButton="outlined" igxRipple class="button_1">
              read
            </button>
          </igx-card-actions>
        </igx-card>
        <div class="column-layout group_7">
          <button igxButton="outlined" igxRipple routerLink="/in-app/articles" class="button_1">
            VIEW ALL
          </button>
        </div>
      </div>
    </div>
    <div class="column-layout group_8">
      <div class="row-layout group_9">
        <h6 class="h6">
          Destinations
        </h6>
        <button igxButton="outlined" igxRipple class="button">
          VIEW ALL DESTINATIONS
        </button>
      </div>
      <div class="row-layout group_6">
        <igx-card type="outlined" *ngFor="let item of travelAppDestinations" class="card">
          <igx-card-media height="120px">
            <img [src]="item.image_url" />
          </igx-card-media>
          <igx-card-header>
            <h3 igxCardHeaderTitle>
              {{ item.title }}
            </h3>
            <h5 igxCardHeaderSubtitle>
            </h5>
          </igx-card-header>
          <igx-card-actions [reverse]="true" class="actions-content">
            <button igxButton="icon" igxRipple>
              <igx-icon>
                bookmark_border
              </igx-icon>
            </button>
            <button igxButton="icon" igxRipple>
              <igx-icon>
                share
              </igx-icon>
            </button>
            <button igxButton="outlined" igxRipple class="button_1">
              view
            </button>
          </igx-card-actions>
        </igx-card>
        <div class="column-layout group_7">
          <button igxButton="outlined" igxRipple class="button_1">
            discover more
          </button>
        </div>
      </div>
    </div>
    <div class="column-layout group_10">
      <div class="row-layout group_9">
        <h6 class="h6">
          My travel lists
        </h6>
        <button igxButton="outlined" igxRipple class="button">
          VIEW ALL LISTS
        </button>
      </div>
      <div class="row-layout group_11">
        <igx-grid [data]="northwindProducts" displayDensity="cosy" [allowFiltering]="true" filterMode="excelStyleFilter" width="100%" height="200px" class="grid">
          <igx-column header="productID" field="productID" dataType="number" [sortable]="true" title="productID"></igx-column>
          <igx-column header="supplierID" field="supplierID" dataType="number" [sortable]="true" title="supplierID"></igx-column>
          <igx-column header="categoryID" field="categoryID" dataType="number" [sortable]="true" title="categoryID"></igx-column>
          <igx-column header="quantityPerUnit" field="quantityPerUnit" dataType="string" [sortable]="true" title="quantityPerUnit"></igx-column>
          <igx-column header="unitPrice" field="unitPrice" dataType="number" [sortable]="true" title="unitPrice"></igx-column>
          <igx-column header="unitsInStock" field="unitsInStock" dataType="number" [sortable]="true" title="unitsInStock"></igx-column>
          <igx-column header="unitsOnOrder" field="unitsOnOrder" dataType="number" [sortable]="true" title="unitsOnOrder"></igx-column>
          <igx-column header="reorderLevel" field="reorderLevel" dataType="number" [sortable]="true" title="reorderLevel"></igx-column>
          <igx-column header="discontinued" field="discontinued" dataType="boolean" [sortable]="true" title="discontinued"></igx-column>
          <igx-column header="name" field="name" dataType="string" [sortable]="true" title="name"></igx-column>
        </igx-grid>
      </div>
    </div>
  </div>
  <div class="column-layout group_12">
    <div class="row-layout group_13">
      <h6 class="h6">
        Photos
      </h6>
      <button igxButton="outlined" igxRipple class="button">
        GO TO ALBUM
      </button>
    </div>
    <div class="column-layout group_14">
      <div class="column-layout group_15">
        <div class="row-layout group_16">
          <div class="column-layout group_17">
            <img [src]="item.image_url" *ngFor="let item of travelAppImageSet1" class="image" />
          </div>
          <div class="column-layout group_17">
            <img [src]="item.image_url" *ngFor="let item of travelAppImageSet2" class="image" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
