<igx-navbar class="app-bar">
  <div igxNavbarTitle>
    <div>Screen Title</div>
    <button igxButton="flat" igxButtonColor="var(--igx-surface-500)" [disabled]="false" routerLink="/master-view1/view11" class="button">
      <igx-icon>add</igx-icon>
      <span>View 1</span>
    </button>
    <button igxButton="flat" igxButtonColor="var(--igx-surface-500)" [disabled]="false" routerLink="/master-view1/view21" class="button">
      <span>View 2</span>
    </button>
    <button igxButton="flat" igxButtonColor="var(--igx-surface-500)" [disabled]="false" routerLink="/master-view1/view31" class="button">
      <span>View 3</span>
    </button>
  </div>
  <button igxButton="icon" igxButtonColor="var(--igx-surface-500)" type="icon" [disabled]="false">
    <igx-icon>person</igx-icon>
  </button>
</igx-navbar>
<div class="views-container">
  <router-outlet></router-outlet>
</div>
